.card_display {
    float: right;
    margin-left: 5px;
}
.card_display p{
 display: block;margin: 0 auto;
 text-align: center;

}

.img_display img {
    width: 2000px;
    height: 1333px;
    object-fit: cover;
  }
.carousel-item-container {
    position: relative;
  }
  
  .carousel-caption-container {
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .carousel-caption-container.left {
    left: 0;
  }
  
  .carousel-caption-container.right {
    right: 0;
  }