.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    margin-bottom: 120px;
    border-radius: 10px;
    margin: 0 auto;
}
.profile-form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}
.loading_screen {
    margin-top: 300px;
}